/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&display=swap');

body {
  font-family: 'Baloo Tammudu 2', cursive !important;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(50, 179, 200);
  background: linear-gradient(
    339deg,
    rgba(50, 179, 200, 1) 0%,
    rgba(10, 85, 140, 1) 100%
  );
}

/* Sidebar Stuff */
.sidebar {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  width: 8%;
  min-width: 200px;
  background-color: #1a355c;
  -moz-box-shadow: 2px 1px 29px 0px #3fa8c3;
  -webkit-box-shadow: 2px 1px 29px 0px #3fa8c3;
  box-shadow: 2px 1px 29px 0px #3fa8c3;
  color: white;
  border-radius: 0 2em 2em 0;

  background: rgba(5, 5, 6, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 0px 7px;
}

.sidebar > div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.25em 1em 0em 1em;
  cursor: pointer;
  position: relative;
  color: white;
}

.sidebar-active {
  color: black !important;
}

.sidebar-active:after {
  z-index: -1;
  content: ' ';
  display: block;
  background: white;
  height: 29px;
  width: 105%;
  bottom: 20px;
  left: 10px;
  position: absolute;
  border-radius: 1em;
  -webkit-box-shadow: 1px 0px 12px -1px #000000;
  box-shadow: 1px 0px 12px -1px #000000;
}

#logoImage {
  width: 100%;
  height: 100%;
}

.logo {
  text-align: center;
  padding: 2em 1em 1.25em 1em !important;
  font-weight: 600;
  cursor: default !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 0.5em;
  font-size: 1.2em;
}

.icon-text p {
  vertical-align: bottom !important;
}

.icon-text > i {
  vertical-align: middle;
}

.creditsToMe {
  flex-grow: 1;
  border: none !important;
  cursor: default !important;
  display: flex;
}

.creditsToMe p {
  position: absolute;
  bottom: 0;
  cursor: text;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

.material-icons {
  vertical-align: top !important;
  font-size: 18px !important;
  margin-top: 0px !important;
}

/* Main Content */
.dashboardFull {
  display: flex;
  flex-direction: row;
  /* background-color: #f5f6f8; */
}

/* Countdown */
.animation-timeline-end {
  animation-name: tada, fadeOut;
  -webkit-animation-name: tada, fadeOut;
}

.countdown {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 1;
  font-size: 6em;
  color: white;
}

.animate__animated.animate__bounceIn {
  --animate-duration: 1.5s;
}

/* Bar Race Content */
.barRaceFull {
  padding: 0em 2em 0em 2em;
  padding-left: 3%;
  width: 89%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* Card in the middle */
.barRaceContents {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.barRaceCard {
  background-color: #ffffff;
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cardBody {
  padding: 2%;
  display: flex;
  flex: 1 1 auto;
}

.cardFooter {
  height: 60px;
  background-color: #f7f7f7;
  border-radius: 0px 0px 10px 10px;
  padding: 1.2em;
}

/* Legend Footer in Card */
.legend-elements {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-content: center;
  height: auto;
}

.legend-element {
  display: flex;
  gap: 0.25em;
  font-size: 1.05em;
  font-weight: 500;
}

.headline {
  display: flex;
  gap: 1em;
}

.headline h2 {
  margin-top: 10px;
}

.headline .btn {
  padding: 0.375rem 1rem 0em 1em !important;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  color: white;
  text-align: center;
  font-weight: 500;
  padding: 0em 0.25em;
}

.headline .btn:focus {
  background: rgba(255, 255, 255, 0.1);
}

/* CHART RELEVANT */
text {
  color: white;
}

.tick line.origin {
  stroke: white;
}

.tick line {
  shape-rendering: CrispEdges;
  stroke: white;
}

path.domain {
  display: none;
}

.xAxis .tick:nth-child(2) text {
  text-anchor: start;
}

.xAxis .tick text {
  font-size: 1.2em;
}

.tick text {
  fill: white;
}

text.label {
  font-weight: 600;
}

text.valueLabel {
  font-weight: 500;
}

text.yearText {
  font-size: 64px;
}

.headlineText span {
  display: inline-block;
}
